html, body {
    background: #efefef;
}
body {
    background: url('/majoingun/images/abc-bg2.jpg') no-repeat;
    background-size: cover;
}
h2 {
    font-family: 'Raleway','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 30px;
    color: #555555;
}
.page-header {
    margin-top: 30px;
    margin-bottom: 0px;
    border-bottom: 0px;
}
.motto {
    font-family: 'Indie Flower', cursive, Helvetica,Arial,sans-serif;
    margin-top: 20px;
    color: #c0c0c0;;
    font-size: 18px;
}
.panel-body {
    background: #ffffff;
    border-radius: 2px;
    border: 1px solid #e0e0e0;
    padding: 30px;
    margin-bottom: 50px;
}
.form-control {
    border: 1px solid #e0e0e0;
}
.form-group {
    margin-bottom: 24px;
}
.form-group-lg .form-control {
    border-radius: 1px;
    height: 35px;
    line-height: 35px;
    padding: 0px 15px;
}
.form-group-lg select.form-control {
    height: 35px;
    line-height: 35px;
}
label {
    font-weight: 400;
    color: #808080;
    font-family: 'Raleway','Helvetica Neue',Helvetica,Arial,sans-serif;
}
.form-auto {
    width: auto !important;
}
.radio label {
    position: relative;
    float: left;
    margin-right: 20px;
}
.txt-red {
    color: red;
    margin-left: 5px;
    font-weight: bold;
}
.form-group-lg .form-control {
    font-size: 14px;
}
.form-sp {
    position: relative;
    width: 200px;
}
.form-sp span {
    position: absolute;
    right: 5px;
    top: 5px;
    color: #c0c0c0;
}
.txt-sub {
    font-style: italic;
    color: #808080;
    font-size: 12px;
}
fieldset {
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    margin-bottom: 30px;
    padding: 15px;
}
legend {
    border-bottom: 0px;
    font-size: 14px;
    margin-bottom: 0px;
    width: auto;
    padding: 0 15px;
    color: #808080;
    font-family: 'Raleway','Helvetica Neue',Helvetica,Arial,sans-serif;
}
.btn-lg {
    border-radius: 1px;
    font-family: 'Raleway','Helvetica Neue',Helvetica,Arial,sans-serif;
    letter-spacing: 1px;
}
.page-footer {
    color: #b0b0b0;
    margin-bottom: 30px;
    font-size: 12px;
}